# modified from https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
#*.py[cod]
#*$py.class

# Development tools
nppBackup/

# Distribution / packaging
#.Python
build/
#develop-eggs/
dist/
#downloads/
eggs/
.eggs/
#lib/
#lib64/
#parts/
#sdist/
#var/
#wheels/
#share/python-wheels/
*.egg-info/
#.installed.cfg
*.egg
#MANIFEST

# Unit test / coverage reports
#htmlcov/
.tox/
#.nox/
#.coverage
#.coverage.*
#.cache
#nosetests.xml
#coverage.xml
#*.cover
#*.py,cover
#.hypothesis/
#.pytest_cache/
#cover/

# Sphinx documentation
docs/build/
docs/source/_autosummary
# let github make this live

# Environments
*.env
#.venv
#env/
#venv/
#ENV/
#env.bak/
#venv.bak/

# vscode
*.vscode

# code output
output/

# markdown files for developers
DEVELOPMENT.md
NOTES.md
TO_DO.md

# requirements for github (will include eventually)
requirements.txt

# misc code folder for ad hoc stuff
misc/

# Sandpit for testing functions etc
sandpit/

# Models
ilastik_models/

# Figures for paper
paper_figures/

# labnotes
labnotes.rst

# profile
*.lprof

wandb/
